/* Fieldsets */
fieldset.wd {border:2px solid #CCC;padding-bottom:10px;border-radius:3px}
fieldset.wd legend {margin:0 10px}

/* Tooltips */
div#wdtf-admin-panel {position:relative}
a.tooltip {text-decoration:none}

a.tooltip::before {
	content: attr(data-tip);
	font: normal 12px arial, sans-serif;
	position: absolute;
	z-index: 999;
	bottom: 9999px;
	left:0;right:0;
	background:#000;
	color:#e0e0e0;
	padding: 0px 7px;
	line-height: 24px;
	opacity:0;
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
}

a.tooltip:hover::before {
	opacity: 1;
	bottom: -35px;
}

/* username validator */
input[type=text].user-validator {
	user-select: none;
}
input[type=text].user-validator-valid {
	background-color:#99FFAC;
	color:#2C823C;
}
input[type=text].user-validator-invalid {
	background-color:#ff9988;
	color:#660011;
}