/**
 * package:		Twitter Feed
 * version:		1.41
 * author:		Askupa Software <contact@askupasoftware.com>
 * link:		http://products.askupasoftware.com/twitter-feed/
 * facing:		public
 */

/* Fonts
/*----------------------------------------*/

@font-face {
	font-family: pacifico;
	src: url("../fonts/Pacifico.ttf") format("truetype");
}
@font-face {
	font-family: bpdots;
	src: url("../fonts/BPdotsCondensedDiamond.ttf") format("truetype");
}

/* Global Elements
/*----------------------------------------*/

.askupa-twitter-error {
	background-color: rgb(255,150,150);
	border-right: 5px solid red;
	border-left: 5px solid red;
	padding: 10px 15px;
}

.twitter-feed.wrapper {
	box-sizing:content-box !important;
}

/* Media
/*----------------------------------------*/

.twitter-feed.media-wrapper {
	padding: 10px;
	display: none;
}

.twitter-feed.show-media {
	font-size: 12px;
	text-decoration: none;
	margin: 10px;
	cursor: pointer;
}

.twitter-feed.show-media > i {
	font-size: 16px;
	vertical-align: middle;
}

.twitter-feed.video-container {
    position: relative;
	height: 0;
	overflow: hidden;
}

.twitter-feed.video-container.vine {
	padding-bottom: 50%; /* Vines are perfect squares */
    padding-top: 50%; 
}

.twitter-feed.video-container.youtube {
	padding-bottom: 56.25%;
    padding-top: 30px; 
}

.twitter-feed.video-container iframe,
.twitter-feed.video-container object,
.twitter-feed.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Static Tweet List
/*----------------------------------------*/

.twitter-feed.static-tweet-list.tweet-wrapper {
	margin: 0 0 15px 0;
	width:100%;
}

.twitter-feed.static-tweet-list.tweet-text,
.twitter-feed.static-tweet-list.user-card,
.twitter-feed.static-tweet-list.tweet-actions,
.twitter-feed.static-tweet-list.retweet-credits {
	margin: 5px 10px !important;
}

.twitter-feed.static-tweet-list.inner-wrapper time {margin: 10px}
.twitter-feed.static-tweet-list.screen-name {margin:5px}

.twitter-feed.static-tweet-list.screen-name span {font-weight: bold}
.twitter-feed.static-tweet-list.screen-name a {font-size: 12px}

.twitter-feed.static-tweet-list.user-card img {
	border-radius: 3px !important;
	box-shadow:0 0 4px rgba(0,0,0,0.2) !important; 
	margin:5px;
}

.twitter-feed.static-tweet-list.tweet-wrapper time,
.twitter-feed.static-tweet-list.user-card,
.twitter-feed.static-tweet-list.tweet-text,
.twitter-feed.static-tweet-list.retweet-credits
{
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	font-size: 14px;
}

.twitter-feed.static-tweet-list.tweet-wrapper a,
.twitter-feed.static-tweet-list.tweet-wrapper a:active,
.twitter-feed.static-tweet-list.tweet-wrapper a:visited {
	color: #21759b !important;
}

.twitter-feed.static-tweet-list.tweet-wrapper a:hover {
	color: #3FA6D5 !important;
}

.twitter-feed.static-tweet-list.tweet-text {line-height:1.5 !important}
.twitter-feed.static-tweet-list.user-card {line-height:1 !important;}

.twitter-feed.static-tweet-list.user-card {overflow:auto}

.twitter-feed.static-tweet-list.tweet-actions {font-size: 14px;color:#333}

.twitter-feed.static-tweet-list.user-card.ltr img,
.twitter-feed.static-tweet-list.tweet-wrapper time.rtl,
.twitter-feed.static-tweet-list.screen-name.ltr
{float:left}
.twitter-feed.static-tweet-list.tweet-actions.rtl,
.twitter-feed.static-tweet-list.tweet-text.ltr,
.twitter-feed.static-tweet-list.retweet-credits.ltr,
.twitter-feed.static-tweet-list.screen-name.ltr
{direction: ltr}

.twitter-feed.static-tweet-list.user-card.rtl img,
.twitter-feed.static-tweet-list.tweet-wrapper time.ltr,
.twitter-feed.static-tweet-list.screen-name.rtl
{float:right}
.twitter-feed.static-tweet-list.tweet-actions.ltr,
.twitter-feed.static-tweet-list.tweet-text.rtl,
.twitter-feed.static-tweet-list.retweet-credits.rtl,
.twitter-feed.static-tweet-list.screen-name.rtl
{direction: rtl}


/* Scrolling Tweet List
/*----------------------------------------*/

.twitter-feed.scrolling-tweet-list.tweet-text,
.twitter-feed.scrolling-tweet-list.tweet-time
{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-hyphens: auto;
}

.twitter-feed.scrolling-tweet-list.wrapper {
	padding: 1px;
}
.twitter-feed.scrolling-tweet-list.inner-wrapper {
	margin: 10px 0;
}

.twitter-feed.scrolling-tweet-list.tweet-text {
	height:25px;
	position:relative;
	overflow:hidden;
	font-size: 14px;
}
.twitter-feed.scrolling-tweet-list.tweet-text > p {
	white-space: nowrap;
	position: absolute;
	top:0;left:0;
}
.twitter-feed.scrolling-tweet-list.tweet-text > p span {font-family: 'pacifico', cursive}
.twitter-feed.scrolling-tweet-list.tweet-time {
	font-style: italic;
	color: #CCC;
	font-size:12px;
}

/* Sliding Tweet List
/*----------------------------------------*/

.twitter-feed.sliding-tweet-list.wrapper {
	height:100px;
	overflow: hidden;
	position: relative;
}

.twitter-feed.sliding-tweet-list.tweet-padder {
	position: absolute;
	height:100%;
	width: 100%;
}

.twitter-feed.sliding-tweet-list.tweet-wrapper {
	position: relative;
	height: 100px;
}

.twitter-feed.sliding-tweet-list.tweet-wrapper time {
	float: right;
	font-size: 12px;
	font-style: italic;
	color: #AAA;
}

.twitter-feed.sliding-tweet-list.user-card {
	height: 35px;
}

.twitter-feed.sliding-tweet-list.user-card img {
	float: left;
}

.twitter-feed.sliding-tweet-list.screen-name {
	margin-left: 40px;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
}

.twitter-feed.sliding-tweet-list.tweet-text {
	margin:0;
	height: 45px;
	font-size:13px;
	line-height: 22px;
	overflow: hidden;
}

.twitter-feed.sliding-tweet-list.retweet-credits {
	margin:0 0 0 10px;
	font-size:12px;
	height: 20px;
}

.twitter-feed.sliding-tweet-list.tweet-actions {
	position: absolute;
	bottom: 0px;
	list-style: none;
	margin: 5px 0;
	right:5px;
	font-size:12px;
}

.twitter-feed.sliding-tweet-list.tweet-actions li {
	display: inline;
	margin-left: 7px;
}

/* Debug window
/*----------------------------------------*/

#askupa-twitter-feed-debug {
	content: '';
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:0;bottom:0;left:0;right:0;
}
#askupa-twitter-feed-debug > h2 {
	position: fixed;
	top: 60px;
	left: 20%;
	right: 20%;
	background-color: #555;
	border-radius: 10px 10px 0 0;
	color: white;
	padding:13px 20px;
	font-size: 14px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#askupa-twitter-feed-debug > h2 > i {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
	font-size: 16px;
	background-color: white;
	color: #555;
	padding:2px 5px 3px 6px;
	border-radius: 4px;
}
#askupa-twitter-feed-debug > h2 > i:hover {
	background-color: rgb(255,100,100);
}
#askupa-twitter-feed-debug > div.box {
	position: fixed;
	top: 100px;
	bottom: 10%;
	left: 20%;
	right: 20%;
	background-color: white;
	overflow: auto;
	padding: 10px 15px;
	border: 2px solid #555;
	border-radius: 0 0 10px 10px;
}

#askupa-twitter-feed-debug > div.box ol {
	list-style-type: decimal;
	margin: 0 15px;
}

#askupa-twitter-feed-debug > div.box li {
	margin-bottom: 10px;
}
